html {
    overflow: auto;
}

.wx-img {
    width           : 64px;
    height          : 64px;
    position        : fixed;
    left            : 0px;
    top             : 300px;
    cursor          : pointer;
    background-image: url(./assets/images/icon64_wx_logo.png);
}

.wx-img:hover .wx-img1 {
    display: block;
}

.wx-img1 {
    width : 128px;
    height: 128px;
}

.has-text-right {
    border-right: 1px solid #666;
}

.container {
    max-width: 1023px;
    margin   : 0 auto;
}

@media screen and (min-width: 769px) {

    .contact {
        text-align  : right !important;
        border-right: 1px solid #666;
    }
}


::-webkit-scrollbar {
    width : .6rem;
    height: .6rem;
}

::-webkit-scrollbar-thumb {
    background   : rgba(22, 22, 22, .2);
    border-radius: .6rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(22, 22, 22, .3);
}

::-webkit-scrollbar-track {
    background: rgba(22, 22, 22, .1);
}